.tableHeaderStyle {
    background-color: #636af0;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tableCellStyle{

    border: 1px solid #dddddd;
    cursor:pointer;
  };

  .tableRowStyle{

    border: 1px solid #dddddd;
    cursor:pointer;
  };


  .tableCellStyle:focus{

    border: 1px solid #dddddd;
    cursor:pointer;
    color: gray;
  };



